---
import Base from "@/layouts/Base.astro"
import ProjectCard from "@/components/ProjectCard.astro"
import { CiLocationOn, CiChat1 } from "react-icons/ci"
import { LuArrowUpRight } from "react-icons/lu";

import Munsoc from "@/assets/munsoc.png"
import Watchmenu from "@/assets/watchmenu.png"
import Stellarminesite from "@/assets/stellarminesite.png"
import Ciphera from "@/assets/ciphera.png"

import { MarqueeSkills } from "@/components/home/marquee-skills.tsx"

const title = "Home | SamIsTheFBI"
---

<Base title={title} description="Fancy home page">
  <section class="sm:mt-5">
    <a href="/about" class="text-5xl md:text-6xl font-serif" transition:name="my_name">Shivam Shekhar Soy</a>
    <p class="max-md:text-sm text-muted-foreground">software developer</p>
  </section>
  <section class="space-y-6 pt-3">
    <div class="space-y-1">
      <p class="flex gap-2 items-center">
        <CiLocationOn size={20}/>{" "}Jharkhand, India
      </p>
      <div class="flex gap-2 items-center">
        <CiChat1 size={20}/>
        <p>
          <a href="https://x.com/samisthefbi" target="_blank" class="link font-normal">Twitter/X</a>,
          <a href="mailto:shivamshekharsoy@gmail.com" target="_blank" class="link font-normal">Email</a>,
          <a href="https://www.linkedin.com/in/shivam-shekhar-soy/" target="_blank" class="link font-normal">LinkedIn</a>
        </p>
      </div>
    </div>
    <p class="text-sm text-pretty">
      I'm a 22yo CS undergrad. My interests lie in web dev, UNIX-like systems and shell scripting. Aside from that, I do a little bit of sketching, watching movies, and playing video games.
    </p>
  </section>
  <section class="mt-8 space-y-4">
      <div>
      <h3 id="experience" class="font-semibold text-lg sm:text-xl text-muted-foreground">
        <a href="#experience">Work Experience</a>
      </h3>
      </div>
      <ul class="space-y-5">
        <li class="group">
          <a href="https://summerofcode.withgoogle.com/programs/2025/projects/4I53AOAO">
            <div class="flex items-center justify-between">
              <div class="flex">
                <span class="group-hover:text-primary transition-all animate-in animate-out ease-in-out delay-75 text-sm font-semibold">GNU Image Manipulation Program</span>
                <LuArrowUpRight className="group-hover:text-primary text-background transition-all animate-in animate-out ease-in-out delay-75"/>
              </div>
              <span class="text-muted-foreground text-xs">May 2025 - Sept. 2025</span>
            </div>
            <span class="text-sm text-muted-foreground">Google Summer of Code 2025 Mentee</span>
          </a>
        </li>
        <li class="group">
          <a href="https://letskickoff.com/">
            <div class="flex items-center justify-between">
            <div class="flex">
              <span class="group-hover:text-primary transition-all animate-in animate-out ease-in-out delay-75 text-sm font-semibold">Kickoff Labs</span>
              <LuArrowUpRight className="group-hover:text-primary text-background transition-all animate-in animate-out ease-in-out delay-75"/>
            </div>
              <span class="text-muted-foreground text-xs">Dec 2024 - May 2025</span>
            </div>
            <span class="text-sm text-muted-foreground">Fullstack Developer</span>
          </a>
        </li>
      </ul>
  </section>
  <section class="mt-8 space-y-4">
      <div>
        <h3 id="projects" class="font-semibold text-lg sm:text-xl text-muted-foreground">
          <a href="#projects">Projects</a>
        </h3>
      </div>
      <ul class="grid grid-cols-1 gap-x-4 gap-y-3 sm:grid-cols-2">
        <li>
          <ProjectCard 
            title="Ciphera" 
            description="Built a Matrix client app built with Flutter along with a separate backend for orgs to register users. 🥈 1st Runner-Up @ Ethos 2024." 
            link="https://github.com/SamIsTheFBI/Lets-Chat"
            img={Ciphera}
          />
        </li>
        <li>
          <ProjectCard 
            title="MUNSOC NIT Agartala" 
            description="Maintained the official website of MUN club of NIT Agartala. Built a full-fledged blog+CMS for student blogs and handled event pages." 
            link="https://munsoc.in/"
            img={Munsoc}
          />
        </li>
        <li>
          <ProjectCard 
            title="Stellar Minesite" 
            description="ML-driven webapp that analyzes data on mining sites. 🥇 1st @ ISRO Space Hackathon, NIT Agartala." 
            link="https://stellar-minesite.vercel.app/"
            img={Stellarminesite}
          />
        </li>
        <li>
          <ProjectCard 
            title="Watchmenu" 
            description="Organize all of your movies and TV shows & watch them easily with this Bash script. Also supports YouTube." 
            link="https://github.com/SamIsTheFBI/watchmenu"
            img={Watchmenu}
          />
        </li>
      </ul>
  </section>
  <section class="mt-8 space-y-4">
    <div>
      <h3 id="hire-me" class="font-semibold text-lg sm:text-xl text-muted-foreground">
        <a href="#hire-me">Hire me</a>
      </h3>
    </div>
    <div class="max-w-xs sm:max-w-2xl overflow-hidden mx-auto h-40">
      <MarqueeSkills client:only="react" />
    </div>
    <p class="text-sm">
      Always on a lookout for an opportunity to work on exciting projects. I am open to both full-time and part-time roles. You can contact me preferably through my email and X/Twitter account.
    </p>
    <p class="hidden">
      Check my resume here.
    </p>
    <div class="relative pattern w-full aspect-video overflow-hidden rounded-lg group transition-all select-none hidden">
      <div class="backdrop-blur-xs h-full w-full flex flex-col items-center justify-center group-hover:brightness-50">
        <h2 class="text-3xl sm:text-6xl tracking-tighter font-bold text-primary dark:text-background">Shivam Shekhar Soy</h2>
        <p class="text-xl sm:text-3xl tracking-tighter font-bold text-primary dark:text-background">Fullstack Developer</p>
      </div>
      <a class="group-hover:opacity-100 opacity-0 hover:underline absolute bottom-3 uppercase transition-all text-xs sm:text-xl text-white translate-x-1/2 right-1/2 font-semibold" href="/resume.pdf" target="_blank">Download my resume ↗</a>
    </div>
  </section>
</Base>
