---
import Base from "@/layouts/Base.astro"
import ProjectCard from "@/components/ProjectCard.astro"
import { CiLocationOn, CiAt } from "react-icons/ci"

import Munsoc from "@/assets/munsoc.png"
import Watchmenu from "@/assets/watchmenu.png"
import Stellarminesite from "@/assets/stellarminesite.png"
import Mesuaferrea from "@/assets/mesuaferrea.png"

import { MarqueeSkills } from "@/components/home/marquee-skills.tsx"

const title = "Home | SamIsTheFBI"
---

<Base title={title} description="Fancy home page">
  <section class="sm:mt-5">
    <a href="/about" class="text-2xl sm:text-4xl font-semibold tracking-tighter" transition:name="my_name">Shivam Shekhar Soy</a>
    <p class="max-md:text-sm text-muted-foreground">software developer</p>
  </section>
  <section class="space-y-6 pt-3">
    <div class="space-y-1">
      <p class="flex gap-2 items-center">
        <CiLocationOn size={20}/>{" "}Jharkhand, India
      </p>
      <div class="flex gap-2 items-center">
        <CiAt size={20}/>
        <p>
          <a href="https://linkedin.com/in/shivam-shekhar-soy" target="_blank" class="link font-normal">LinkedIn</a>, 
          <a href="https://x.com/samisthefbi" target="_blank" class="link font-normal">Twitter/X</a>,
          <a href="mailto:shivamshekharsoy@gmail.com" target="_blank" class="link font-normal">Email</a>
        </p>
      </div>
    </div>
    <p>
      I'm a 21yo CS undergrad student. My interests lie in <span class="font-semibold">web development, UNIX-like systems, shell scripting</span> and <span class="font-semibold">drawing</span>.
    </p>
    <p>
      Beyond my studies, I enjoy participating in hackathons and working on various projects. In my free time, I also like tweaking my linux, watching movies, or playing video games.
    </p>
  </section>
  <section class="mt-8 space-y-4">
      <div>
        <h3 class="font-semibold text-lg sm:text-xl">Projects</h3>
        <p class="max-md:text-sm text-muted-foreground">a glimpse what I can build.</p>
      </div>
      <ul class="grid grid-cols-1 gap-x-4 gap-y-3 sm:grid-cols-2">
        <li>
          <ProjectCard 
            title="MUNSOC NIT Agartala" 
            description="Maintaining the official website of MUN club of NIT Agartala. Built a full-fledged blog+CMS for student blogs." 
            link="https://munsoc.in/"
            img={Munsoc}
          />
        </li>
        <li>
          <ProjectCard 
            title="Stellar Minesite" 
            description="ML-driven webapp that analyzes data on mining sites. Built during ISRO Space Hackathon NIT Agartala." 
            link="https://stellar-minesite.vercel.app/"
            img={Stellarminesite}
          />
        </li>
        <li>
          <ProjectCard 
            title="Watchmenu" 
            description="Organize all of your movies and TV shows & watch them easily with this Bash script. Also supports YouTube." 
            link="https://github.com/SamIsTheFBI/watchmenu"
            img={Watchmenu}
          />
        </li>
        <li>
          <ProjectCard 
            title="Mesua Ferrea" 
            description="Full stack food ordering app with realtime order notification, order queue & inventory management." 
            link="https://mesua-ferrea.vercel.app/"
            img={Mesuaferrea}
          />
        </li>
      </ul>
  </section>
  <section class="mt-8 space-y-4">
    <div>
      <h2 class="text-lg sm:text-xl font-semibold">Hire me</h2>
      <p class="max-md:text-sm text-muted-foreground">if you need a skilled developer.</p>
    </div>
    <div class="max-w-xs sm:max-w-2xl overflow-hidden mx-auto h-40">
      <MarqueeSkills client:only="react" />
    </div>
    <p>
      I'm currently looking for a new opportunity to work on exciting projects. I am open to both full-time and part-time roles. 
    </p>
    <p>
      Check my resume here.
    </p>
    <div class="relative pattern w-full aspect-video overflow-hidden rounded-lg group transition-all">
      <div class="backdrop-blur-xs h-full w-full flex flex-col items-center justify-center group-hover:brightness-50">
        <h2 class="text-3xl sm:text-6xl tracking-tighter font-bold text-primary dark:text-background">Shivam Shekhar Soy</h2>
        <p class="text-xl sm:text-3xl tracking-tighter font-bold text-primary dark:text-background">Fullstack Developer</p>
      </div>
      <a class="group-hover:opacity-100 opacity-0 hover:underline absolute bottom-3 uppercase transition-all text-xs sm:text-xl text-white translate-x-1/2 right-1/2 font-semibold" href="/resume.pdf" target="_blank">Download my resume ↗</a>
    </div>
  </section>
</Base>
