---
import { FaGithub } from "react-icons/fa";
import { CiGlobe } from "react-icons/ci";
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'

const { title, description, link, img } = Astro.props
---

<a href={link} target="_blank" class="rounded-md border space-y-3 h-full w-full 
  bg-card/55 text-card-foreground hover:bg-secondary/35 flex flex-col justify-between hover:shadow-lg">
    <Image 
      src={img}
      class="object-cover aspect-[4 / 3] rounded-t-md" 
      height={960} 
      width={1280}
      alt={title}
      quality={50}
      fetchpriority="high"
      decoding="async"
    />
  <div class="space-y-2 px-5 pb-3">
    <div class="flex justify-between items-center gap-1">
      <span class="font-bold">{title}</span>
    </div>
    <p class="text-sm text-foreground/80">
      {description}
    </p>
  </div>
</a>
