---
import { FaGithub } from "react-icons/fa";
import { CiGlobe } from "react-icons/ci";
import { Icon } from 'astro-icon/components'

const { title, description, link, live, tech } = Astro.props
---

<div class="px-5 py-3 rounded-md border space-y-3 h-full w-full 
  bg-card text-card-foreground dark:hover:bg-secondary/35">
  <div class="flex justify-between items-center gap-1">
    <span class="font-bold">{title}</span>
  </div>
  <p class="text-sm text-foreground/80">
    {description}
  </p>
  <div class="flex justify-between gap-1">
  {
    tech &&
    <ul class="flex">
      {tech.map((item: string) => (
        <Icon 
          name=`simple-icons:${item}` 
          class="size-6 rounded-sm p-1 dark:text-muted-foreground/55 text-muted-foreground"
          title=`${item.charAt(0).toUpperCase() + item.slice(1)}`
        />
      ))}
    </ul>
  }
  <div class="flex gap-1">
    {
      live && 
    <a target="_blank" href={live} 
      class="hover:bg-secondary p-1 rounded-sm border border-border"
      title="Live Link">
      <CiGlobe size={18}/>
    </a>
    }
    {
      link && 
    <a target="_blank" href={link} 
      class="hover:bg-secondary p-1 rounded-sm border border-border" 
      title="Source Code">
      <FaGithub size={18}/>
    </a>
    }
  </div>
  </div>
</div>
